In [6]:
import pandas as pd
df=pd.read_csv(r"C:\Users\sumit\Downloads\salaries.csv")

In [16]:
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [7]:
df.head(1)

  company              job     degree  salary_more_then_100k
0  google  sales executive  bachelors                      0

In [14]:
target =df["salary_more_then_100k"]

In [15]:

inputs =df.drop("salary_more_then_100k",axis='columns')

In [18]:
import sklearn

In [19]:
dir(sklearn)

['__SKLEARN_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__check_build',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_distributor_init',
 'base',
 'clone',
 'config_context',
 'exceptions',
 'get_config',
 'logger',
 'logging',
 'os',
 'random',
 'set_config',
 'setup_module',
 'show_versions',
 'sys',
 'utils']

In [22]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le_company= LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()